:root{
--first-color: #1A73E8;
--input-color: #808688;
--border-color: #DADCE0;
--body-font: "roboto", sans-serif;
--normal-font-size: 1rem;
--small-font-six=ze: .75rem;
}
*{
padding: 0;
margin: 0;
font-family: var(--body-font);
}
body{
font-size: var(--normal-font-size);
}
.container{
display: flex;
justify-content: center;
align-items; center
height: 100vh;
}
.form{ 360}