<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<link rel="Stylesheet" href="style.css">
<link href="{% static './polls/css/adminhome.css' %}" rel="stylesheet">
</head>
<body>


<div class="wrapper">
    <nav>

      <div class="content">
      <div class="logo"><a href="#">Thrift store</a></div>
        <ul class="links">
          <li><a href="user_details_update">User Profile</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="admin_view_product">View product</a></li>
            <li><a href="logout">logout</a></li>
            <h1>Admin page</h1>
        </ul>
      </div>
    <div class="content">


    </div>
        </nav>

</div>
</div>



<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>