<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Productadd</title>

</head>
<body>

<div class="wrapper">
</div>
    <header>Add Product</header>
      <form  action="{%url 'product_update' %}" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="field product">
            <div class="input-area">
                <h4>Product name </h4>
                <input type="text" placeholder="product" value="{{up.product_name}}" name="product">
                <i class="icon fas fa-envelope"></i>
            </div>
        </div>

          <div class="field quantity">
              <div class="input area">
                  <input type="varchar"  placeholder="quantity" value="{{up.quantity}}" name="quantity">
                  <i class="icon fas fa-envelope"></i>
              </div>
          </div>


          <div class="field size">
              <div class="input area">
                  <input type="varchar" placeholder="size"  value="{{up.size}}" name="size">
                  <i class="icon fas fa-envelope"></i>
              </div>
          </div>
          <div class="field price">
              <div class="input-area">
                  <input type="text" placeholder="price" value="{{up.price}}" name="price">
                  <i class="icon fas fa-envelope"></i>
              </div>
          </div>
          <div class="field description">
              <div class="input-area">
                  <input type="text" placeholder="description" value="{{up.description}}" name="description">
                  <i class="icon fas fa-envelope"></i>
              </div>
          </div>
          <div class="input-group">
			<label>UPLOAD IMAGE</label>
			<input type="file" name="image" id="img">
		</div>



          <button type="submit" class=" btn btn-success mt-2" id="bt" name="bt" >update</button>
          <input type="hidden" name="id" value="{{up.id}}">
      </form>



</body>
</html>